@model List<Models.EF.Document>
@{
    var category = (Models.EF.DocumentCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section FilterHead{
    @RenderPage("~/Views/Shared/_FilterDocument.cshtml")
}

<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>@category.Name</h3>
            </div>
            <div class="see">
                <p><a href="/Home/Index">Quay Lại Trang Chủ</a></p>
            </div>
            <div class="clear"></div>
        </div>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                if (count % 4 == 0)
                {
                    @:<div class="section group">
                            }
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="/chi-tiet/@item.MetaTitle-@item.ID"><img src="~/Assets/client/images/iconpdf.png" alt="@item.Description" /></a>
                    <h2>@item.Name </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">Lượt Xem: @item.ViewCount</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="/chi-tiet/@item.MetaTitle-@item.ID">Xem chi tiết</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                if ((count % 4 == 3) || (count == Model.Count() - 1))
                {
                    @:</div>
                }
                count++;
            }
        }
        <!--Phan trang-->
        @if (ViewBag.TotalPage >= 1)
            {
                var pageDisplay = (int)(ViewBag.MaxPage);
                int totalPage = (int)(ViewBag.TotalPage);
                int currentPage = (int)(ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/tai-lieu/" + category.MetaTitle + "-" + category.ID;
            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li>
                            <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                        </li>

                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                            <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                    }

                </ul>
            </nav>
        }
        else
        {
            <span>Không có bản ghi nào!!</span>
        }
    </div>
</div>
